# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Build artifacts
build/
dist/
*.egg-info/

# Python packaging
pip-wheel-metadata/

# Test / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
test/

# Type checkers
.mypy_cache/
.pyre/
.pytype/
.ruff_cache/

# IDEs / editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
